footer {
  padding-top: 50px;
  background-position: center;
  background-size: cover;
  position: relative;
}

footer::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1e3a5fcc;
  z-index: 0;
}

.footer-head {
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid var(--gray);
  padding-bottom: 50px;
  margin-bottom: 50px;
  position: relative;
}

.footer-head a {
  width: 140px;
  height: 200px;
}

.footer-head a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer-head h4 {
  width: 50%;
  line-height: 2;
  color: #fff;
}

.footer-middel {
  position: relative;
}

.footer-links {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}

.footer-middel h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}

.footer-middel a {
  display: block;
  font-size: 13px;
  color: var(--gray);
  position: relative;
  margin-bottom: 15px;
  transition: 0.4s;
  width: fit-content;
}

.footer-middel a:hover {
   color: #fff;
}


.footer-middel a:hover::before {
    width: 100%;
}

.footer-middel a::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition: 0.4s;
}

footer h2 {
  font-size: 20px;
  color: #fff;
  margin-bottom: 30px;
  text-align: center;
}

footer p.desc {
  text-align: center;
  color: #fff;
  font-size: 18px;
  margin-bottom: 30px;
}

footer form {
  width: 330px;
  display: flex;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}

footer form button {
  height: 100%;
  border: none;
  background-color: var(--primary1);
  color: #fff;
  cursor: pointer;
  transition: 0.4s;
  width: 100px;
  border-radius: 10px 0 0 10px;
}

footer form button:hover {
   background-color: #ebf3fa;
   color: var(--primary1);
}

footer form input {
  flex: 1;
  height: 100%;
  background-color: #fff;
  border-radius: 0 10px 10px 0;
  display: block;
  border: none;
  outline: none;
  padding-right: 10px;
  color: var(--gray);
}

.copy-write {
  position: relative;
  text-align: center;
  color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid var(--gray);
  margin-top: 30px;
}
