header{
  background-color: #E9EEFC;
}

.top-header {
  background-color: #5c3fcf;
  padding: 20px 0;
}

.top-header .main-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-header .main-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fast-delever {
  display: flex;
  align-items: center;
  gap: 20px;
}

.fast-delever img {
  width: 24px;
  height: 24px;
  display: block;
  margin-top: 2px;
}

.fast-delever p {
  color: #fff;
  font-size: 20px;
}

.change-lang {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 10px;
  color: #fff;
  position: relative;
}

.change-lang img {
  width: 24px;
  height: 25px;
  margin-top: 5px;
  display: block;
}

.change-lang i {
  font-size: 20px;
}

.change-lang p {
  font-size: 20px;
}

.change-lang-menu {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 5px;
  top: 40px;
  color: var(--primary1);
  box-shadow: 0 0 10px #1c48c14a;
  width: 120px;
  overflow: hidden;
  transition: 0.4s;
  height: 0;
}

.change-lang-menu.show {
  height: 101px;
}

.change-lang-menu a {
  padding: 10px 0;
  display: block;
  text-align: center;
  font-size: 20px;
  color: var(--primary1);
  transition: 0.4s;
}

.change-lang-menu a:hover {
  background-color: #1c48c126;
}

.change-lang-menu a:not(:last-child) {
  border-bottom: 1px solid #5c3fcf42;
}

.serch-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.serch-section .logo {
  width: 95px;
  height: 110px;
}

.serch-section .logo img {
  width: 100%;
  height: 100%;
}

.search-input {
  width: 590px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  background-color: #b3b8b924;
  height: 75px;
}

.search-input button {
  background-color: var(--primary1);
  height: 55px;
  width: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  border-radius: 10px;
  transition: 0.4s;
  border: none;
  border: 1px solid var(--primary1);
  transition: 0.4s;
}

.search-input button:hover {
  background-color: transparent;
}

.search-input button:hover svg path {
  stroke: var(--primary1);
}

.search-input input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 1px solid transparent;
  background-color: #fff;
  padding: 10px;
  color: #a5a5a5;
  font-size: 18px;
  outline: none;
  transition: 0.4s;
  border-radius: 10px;
}

.search-input input:focus {
  border: 1px solid var(--primary1);
  background-color: #fff;
}

.search-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search-links a {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-links a:hover svg {
  animation: tada 0.8s infinite;
}

.header-link:hover{
  background-color:  white;
  border-radius: 10px;
}




.search-links a:hover p {
  color: var(--gray);
}

.search-links svg {
  transition: 0.4s;
}

.search-links svg path{
  stroke:var(--primary3)
}

.search-links a p {
  color: var(--primary1);
  font-size: 16px;
  font-weight: 500;
  transition: 0.4s;
  font-family: "MEDIUM";
}

.header-links {
  border-top: 1px solid #dfdfdf8f;
  border-bottom: 1px solid #dfdfdf8f;
  padding-top: 30px;
  padding-bottom: 30px;
}

.header-links .main-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-links .links-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-links .links-container .header-link {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  cursor: pointer;
  height: 40px;
}

.header-links .links-container .header-link p {
  font-size: 16px;
  color: var(--black);
  transition: 0.4s;
}

.header-links .links-container .header-link i {
  font-size: 16px;
  color: var(--black);
  transition: 0.4s;
}

.header-links .links-container .header-link:hover p {
  color: var(--primary1);
}

.header-links .links-container .header-link:hover i {
  color: var(--primary1);
}

.header-contact {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-contact p {
  font-size: 16px;
  color: var(--gray);
}

.header-contact a {
  font-size: 16px;
  color: var(--black);
  margin-top: 10px;
  display: block;
  font-family: "MEDIUM";
}

.show-menu {
  border: 1px solid var(--gray);
  color: var(--gray);
  width: 40px;
  height: 30px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  transition: 0.4s;
  cursor: pointer;
  display: none;
}

.show-menu:hover {
  color: var(--primary1);
  border: 1px solid var(--primary1);
}

.ctm-menu-custom {
  position: absolute;
  background-color: #fff;
  top: 40px;
  box-shadow: 0 0 5px #dedede;
  min-width: 150px;
  z-index: 1;
  border-radius: 5px;
  overflow: hidden;
  display: none;
}

.ctm-menu-custom a {
  color: var(--black);
  font-size: 16px;
  transition: 0.4s;
  width: 100%;
  display: block;
  padding: 5px;
}

.header-links .links-container .header-link:hover .ctm-menu-custom{
  display: block;
}

.ctm-menu-custom a:not(:last-child) {
  border-bottom: 1px solid #dfdfdf8f;
}

.ctm-menu-custom a:hover {
  color: var(--primary1);
  background-color: #5c3fcf24;
}

.ctm-menu-custom:hover {
  display: block;
}


.responsive-menu {
  position: fixed;
  top: 0;
  right: -100%;
  background-color: #fff;
  padding: 10px;
  bottom: 0;
  width: 300px;
  transition: 0.4s;
  z-index: 10;
  background-image: url('../images/hero\ section.png');
  background-size: cover;
  background-position: center;
}

.responsive-menu.show{
  right: 0;
}

.responsive-menu .search-input{
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  display: block;
}

.responsive-menu .search-input button {
  height: 35px;
  width: 35px;
}

.responsive-menu .search-input button svg{
   width: 25px;
}

.responsive-menu .search-links a p {
  font-size: 12px;
  color: #fff;
}

.responsive-menu .search-links {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  margin-bottom: 20px;
}

.responsive-menu .search-links svg {
  color: #fff;
  transition: 0.4s;
  font-size: 17px;
  width: 17px;
}

.responsive-menu .search-links svg path{
  stroke: #fff;
}

.responsive-menu .links-container{
  width: 100%;
  text-align: center;
}

.responsive-menu .links-container .header-link{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
   color: var(--black);
   position: relative;
   transition: 0.4s;
   cursor: pointer;
   height: 40px;
   color: #fff;
}


.responsive-menu .links-container .header-link:hover .ctm-menu-custom{
    display: block;
}

.responsive-menu .links-container .header-link .ctm-menu-custom{
    z-index: 1;
}

.overlay{
  position: 
  fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #d1d1d178;
  transition: 0.4s;
  left: -100%;
  z-index: 1;
}

.overlay.show{
   left: 0;
}

.responsive-menu .search-input input{
  background-color: #fff;
}